%rebase("base.tpl",title="To Do List")

	<article>
		<div class="container">
			<h2>後で消すよ {{user_info[0]}}さん、ようこそ</h2>
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>
		<div class="container">
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>
		<div class="container">
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>
		<div class="container">
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>
		<div class="container">
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>
		<div class="container">
			<div class="to_do_topic">
				<img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
				<h2>
					ここにトピック名がきます
				</h2>
			</div>
			<div>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
				<p>各リストが表示される (for loop を使って 3-4件表示)</p>
			</div>
		</div>

	</article>
