%rebase("base.tpl",title="ログイン | To Do List")

<div class="login_container">
    <img class="mintochan_img" src="static/img/logo1.png" alt="">
    <img class="logo_text_img" src="static/img/logo-text-2-1.png" alt="">
  
    
  <form action="/login" method="post" >
    <input class ="login_input" type="text" name="name" placeholder="  ユーザーネーム"><br>
    <input class ="login_input" type="password" name="password" placeholder="  パスワード"><br>
    <input class="btn" type="submit" value="ログイン" />
  </form>

  <a href="/register">登録はこちら</a>

</div>

