%rebase("base.tpl",title="To Do List")


<article>
    <div class="my_profile_container">

%# if you want to show thread detail..
    </div>
        <h2> {{user_info[0]}}さんのぺーじ</h2>
        
        <img src="static/img/{{user_info[1]}}" alt="" class="mypage_prof_img">
        <p>画像変更</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="upload"><br>
            <input type="submit" value="画像アップロード"><br>
        </form>
        <h2 class="content-title" >作成したスレッド</h2>
        % if not title_info:
            <div class="container">
                <div class="to_do_topic">
                    <h2>
                        作成したリストはまだありません
                    </h2>
                </div>
                <img src="/static/img/aisatsu_kodomo_boy.png" alt="" class="gomen">
                    
            </div>
        % else: 
            % for item in title_info:
                <div class="container">
                    <div class="thread_top_container">
                        <div class="thread_icon_container">
                            <img  src="/static/img/{{user_info[1]}}" alt="">
                        </div>
                        <div class="thread_title_container">
                            <h2>{{item['list_title']}}</h2>
                        </div>
                    </div>
                    % if item["thraed_img_path"] !="":
                        <img class = "thread_img" src="/static/img/{{item['thraed_img_path']}}"  alt="">
                    % end

                    <p>Created: {{item['created_time']}}</p>

                    % if item["list_content"] !="":
                        <div class="thread_list_container">
                            % for content in item["list_content"]:
                                <p>{{content}}</p>
                            % end
                            <a href="/list/{{item['id']}}"><p>もっと見る…</p></a>
                        </div>

                </div>
            % end
        % end

        <h2 class="content-title" >いいねスレッド<</h2>
        <div class="container">
                <h2 class="content-title" >いいねスレッド</h2>
            <div class="to_do_topic">
                <img class = "topic_icon" src="/static/img/default_icon.jpg" alt="">
                <h2>
                    ここにいいねリストが出来ます…きっと
                </h2>
            </div>
            <div>
                <p>各リストが表示される (for loop を使って 3-4件表示)</p>
                <p>各リストが表示される (for loop を使って 3-4件表示)</p>
                <p>各リストが表示される (for loop を使って 3-4件表示)</p>
            </div>
        </div>
		

	</article>