%rebase("base.tpl",title="新規登録 | To Do List")


<div class="register_container">
    <img class="mintochan_img" src="static/img/logo1.png" alt="">
  <img class="logo_text_img" src="static/img/logo-text-2-1.png" alt="">


<form action="/register" method="post">
  <input class ="register_input" type="text" placeholder="ユーザーネーム"  name="name"  value=""><br>
  <input class ="register_input" type="password" placeholder="パスワード"  name="password" ><br>
  <input class="btn" type="submit" name="save" value="登録する">
</form>

<a href="/login">登録されている方はこちら</a>

</div>
