%rebase("base.tpl",title="ToDoter")




	<div class="top_cont">
		
			<img src="img/ojt_01.jpg" alt="icon" class="prof_img">
		
		
		<h1>スタカフェのスクールに通いたい人、興味のある人。36文字まで入力できる。</h1>
			<ul style="list-style-image: url('img/li.png')">
				<li>テキストテキストテキストテキスト19文字</li>
				<li>テキストテキストテキストテキスト19文字</li>
				<li>テキストテキストテキストテキスト19文字</li>
			</ul>
		
		
			<a href="#">・・・もっと見る</a>
		
		

	</div>
    
	