@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
	/* as you cange the height of header, you need to change this as well. */

}

/*ドロワー用でコメントアウト or 削除*/

/*header {
	position: fixed;
	width: 100%;
}
header .hum_menu {
	position: absolute;
	right: 0px;
	top: 0px;
}
header .hum_menu a {
	display: block;
	height: 20px;
	padding: 10px 0;
	width: 40px;
	background: #eeeaec;
	text-align: center;
}
header .hum_menu span {
	display: block;
	width: 20px;
	height: 2px;
	background: #aaa;
	margin: 3px auto;
}
header ul {
	display: none;
	margin: 0 40px 0 0;
}
header ul li {
	float: left;
	display:flexでもいけると思うのでぜひ試してみてください
	width: 50%;
	color: #acacac;
	line-height: 40px;
	text-align: left;
	font-size: 12px;
	text-indent: 8px;
}
header ul li a {
	display: block;
	border: 1px solid #555;
	border-width: 1px 1px 0 0;
}
header.open {
	background: #eeeaec;
}
header.open ul {
	display: block;
}*/
footer {
	height: 70px;
	background: #8FC31F;
	margin-top: 50px;
}
footer .copyright {
	color: white;
	font-size: 12px;
	padding-top: 30px;
	letter-spacing: 1px;
}

/* css for base.tpl */
header{
	padding-bottom: 70px;
}

.top_container {
	background-color: #8FC31F;
	position: fixed;
	width: 100%;
	height: 70px;
	display: flex;
}

.top_container_left{
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top_prof_img{
	border-radius: 50%;
	width: 50px;
    /* height: 50px;
	width: 50px;  */
	background-color: white;
}
.top_container_rigth{
	width: 15%;
}
.to_do_topic {
    display: flex;
}
.search_container{
	width: 70%;
	/* background-color:red; */

	display: flex;
    align-items: center;
	justify-content: center;

	/* background-color: white; */
}

#searchbox {
	display: flex;
	background-color: white;
	outline:0;
	border-radius: 20px;
	width: 250px;
    height: 35px;
}

#sbtn2{
	border: none;
    background-color: white;
}

.search-box,.login_input,.register_input,.add_list_form textarea::placeholder{
	text-align:center;
	border: none;
	border-radius: 20px;
}

.drawer-toggle{
	align-items: center;
	justify-content: center;
}

.drawe-menu {
	margin-top: 50px;
}

.drawer-img{
	margin-top: 15px;
	width: 50%;
}
.topic_icon{
	border-radius: 50%;
	height: 10%;
	width: 10%;
	border: solid 1px #8FC31F;
}

.prof_img{
	width: 80%;
	border-radius: 50%;
}

 /* Add another files */
.prof_img {
    border-radius: 50%;
    height: 50px;
    width: 50px; 
    margin: 10px 0px 10px 15px;
    float: left;
}

/* .list_contents {
    width: 80%;
    margin-left: 20%;
    padding-left: 10px;
	text-align: left;
} */

.show-more-list a{
	text-align: right;
}

/* .list_contents a{
    float: right;
    margin: 0px 15px;
    font-size: 14px;
    margin-top:10px; 
} */

.topic_pic{
    width: 75%;
    float: right;
    margin-right: 5%;
    border-radius: 20px;
}

/* css for adding thread */
.add_thread_icon {
	width: 25%;
	margin-top: 20px;
}

.adding-thread-container h2 {
	color: #8FC31F;
    font-size: 30px;
    margin: 20px 0 10px 0;
}


.adding-list-container{
	padding-top: 7px;
}

.adding-list-container {
	font-size: 16px;
}
.adding-list-container h2{
	color: #8FC31F;
	margin-bottom: 10px;
}

.add_thread_box {
	margin-bottom: 15px;
    width: 300px;
    border: solid 1px #8FC31F;
    height: 60px;
    border-radius: 5px;
}

.list-input{
	margin-bottom: 15px;
    width: 300px;
    border: solid 1px #8FC31F;
    height: 30px;
    border-radius: 5px;
}


/* detail thread  */
.thread_top_container{
	display: flex;
	margin: 10px auto;
}

.container p {
	font-size: 11px;
}

.thread_icon_container{
	width: 10%
}
.thread_icon_container img{
	border-radius: 50%;
	border: solid 1px black;
	width: 80%;
	margin-left: 18px;
}
.thread_title_container{
	width: 90%;
	margin: 0 5%;
	padding-left: 5px;
}
.thread_title_container h2{
	font-size: 18px;
	text-align: left;
}

.thread_img{
	width: 80%;
	border-radius: 10px;
}

.add_list_form{
	margin-top: 10px;
}

.thread_list_container{
	width: 80%;
	text-align: left;
	margin:10px 0 10px 10%;
}
.thread_list_container p{
	padding-bottom: 5px;
	font-size: 15px;
}

.heart-box{
	margin-left: 10px;
}
/* css for mypage */
.content-title{
	background-color: #8FC31F;
    color: white;
    text-align: center;
    line-height: 33px;
    font-size: 15px;
    height: 33px;
    margin-top: 10px;
}

.to_do_topic p{
	font-size: 12px;
}
.more-detail-link{
	display: flex;
	justify-content: flex-end;
	padding-right: 14px;
	font-size: 12px;
}
.container{
	/* background-color: beige; */
	
	width: 100%;
	border-bottom: 1px solid #8FC31F;
}
.rank-img{
	height: 20px;
	width: 20px;
	margin-right: 10px;
}
.extra_space{
	width: 30px;
}

/* .add-list{
	position: fixed;
    display: flex;
    right: 10px;
    bottom: 10px;
   
    background-color: #8FC31F;
} */
#no-add-list{
	display: hidden;
}

.no-add-list{
	display: hi;
}
/* #add-list a{
	background-color: #8FC31F;
	border-radius: 5px;
	padding: 7px;
} */
/* .add_icon{
	border-radius: 50%;
    height: 50px;
    width: 50px;
    float: right;
    position: fixed;
        top: 580px;
        right: 15px;    
}  */
.add_list_btn .add_icon {
    border-radius: 50%;
   height: 50px;
   width: 50px;
   float: right;
   position: fixed;
       top: 580px;
       right: 15px;
}


.add_icon:hover{
	/* background-color: aqua; */
	background-color: greenyellow;
}

.popup-overlay.active{
	/*displays pop-up when "active" class is present*/
	/* visibility:visible; */
	text-align:center;
	position: fixed;
	z-index: 10;
  }
  
  .popup-content {
	/*Hides pop-up content when there is no "active" class */
   display:none;
  }
  
  .popup-content.active {
	/*Shows pop-up content when "active" class is present */
	/* visibility:visible; */
	
  }




/* for login and signup */
.mintochan_img {
	width: 25%;
	margin-top: 50px;
}
.logo_text_img {
    width: 300px;
    margin: 0 20px 20px 20px;
}


.login_container h1, .register_container h1{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.btn{
    width: 200px;
    margin: 10px 22px 20px 22px;
    font-size: 15px;
    background-color: #8FC31F;
    color: white;
	border-radius: 20px;
	height: 30px;
	border: solid 2px #8FC31F;
}

.login_input, .register_input{
	width: 200px;
    height: 30px;
	margin: 10px;
	border-radius: 20px;
	border: solid 2px #8FC31F;
}

/* For mypage */
.to_do_topic h1{
	margin: 0 auto;
	/* margin: 10px 15px 10px 0px; */
    width: 284px;
    height: 43px;
    float: right;
    font-size: 15px;
}
.gomen{
	width: 40%
}

.mypage_prof_container{
	margin-top: 20px;
}

.mypage_prof_img {
	border-radius: 50%;
    /* height: 100px; */
    width: 25%;
    margin: 10px auto;
    /* float: left; */
	background-color: white;
	border: solid 1px gray;
}

.mypage_input_submit{
	/* width: 50px; */
    height: 30px;
	/* margin: 10px; */
	border-radius: 20px;
	background-color: #8FC31F;
	color: white;
}

.mypage_input_file{
	/* width: 50px; */
    height: 30px;
	/* margin: 10px; */
	border-radius: 20px;
	background-color: #8FC31F;
	color: white;
}


/* register-modal */
/* .regist-modal-wrapper{

	display: none;
} */


/* for each list */
/* これをハートマークにadd、removeすることで赤くしたりする */
.like-active {
	color: red;
}
.each-list-content{
	display: flex;
	margin-bottom: 3px;
}